<div class="results-text">

  <p>This is an estimate based on the predicted figures you’ve entered.</p>

  <h4>When to pay</h4>

  <p>You must register for Self Assessment before 5 October 2014, and then fill in a tax return. The deadline for payment is 31 January 2015.</p>

  <p>Find out more about <a href="/child-benefit-tax-charge/how-to-pay">how to pay</a>.</p>

</div>
