<div class="results-text">

  <p>The tax charge is not taken from your Child Benefit. It only applies to the Child Benefit received between 7 January and 5 April 2013.</p>

  <h4>How and when to pay</h4>

  <p>You must register for Self Assessment before 5 October 2013, and then fill in a tax return. The deadlines for payment is 31 January 2014.</p>

   <p>Find out more about <a href="/child-benefit-tax-charge/how-to-pay">how to pay</a>.</p>

</div>
