<div class="results-text">

  <h4>When to pay</h4>

  <p>You must register for Self Assessment before 5 October 2013, and then fill in a tax return. The deadlines for payment is 31 January 2014.</p>

   <p>Find out more about <a href="/child-benefit-tax-charge/how-to-pay">how to pay</a>.</p>

</div>
