<% if @calculator.starting_children.count == 0 %>
  <div class="child form-group">
    <h3>Child <span class="child-number"> 1 </span></h3>
    <%= render "starting_child", index: 0, child: StartingChild.new  %>
  </div>
<% else %>
  <% @calculator.starting_children.each_with_index do |child, index| -%>
    <div class="child form-group<% if child.errors.any? %> form-group-error<% end -%> ">
      <% child.errors.each do |key, message| %>
        <% message[0] = message[0].capitalize %>
        <span class="error-message"><%= message %></span>
      <% end %>
      <h3>Child <span class="child-number"><%= index + 1 %></span></h3>
      <%= render "starting_child", :index => index, :child => child %>
    </div>
  <% end -%>
<% end %>
