<% if @calculator.starting_children.count == 0 %>
  <div class="js-child">
    <h3>Child <span class="js-child-number"> 1 </span></h3>
    <%= render "starting_child", index: 0, child: StartingChild.new  %>
  </div>
<% else %>
  <% @calculator.starting_children.each_with_index do |child, index| -%>
    <div class="js-child">
      <h3>Child <span class="js-child-number"><%= index + 1 %></span></h3>
      <%= render "starting_child", :index => index, :child => child %>
    </div>
  <% end -%>
<% end %>
