<div>
  <p class="group">
  <label>Start date</label>
  <%= select_date (child ? child.start_date : nil), :prefix => "starting_children[#{index}][start]", 
    :prompt => {:day => "Day", :month => "Month", :year => "Year" }, :order => [:day, :month, :year],
    :start_year => 20.years.ago(Date.today).year, :end_year => Date.today.year %>
  &nbsp;&nbsp;
  <label>Stop date</label>
  <%= select_date (child ? child.end_date : nil), :prefix => "starting_children[#{index}][stop]",
    :prompt => {:day => "Day", :month => "Month", :year => "Year" }, :order => [:day, :month, :year],
    :start_year => 2.years.ago(Date.today).year, :end_year => 10.years.since(Date.today).year %>
  </p>
</div>
