<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Quick answer</span> Estimate your High Income Child Benefit Tax Charge</h1>
    </hgroup>
    <a class="skip-to-related" href="#related">Not what you're looking for? ↓</a>
  </header>

</section>
