<% content_for :title, "Child Benefit tax calculator" %>
<% content_for :wrapper_classes, "answer" %>

<main id="content" role="main" class="group">
  <header class="page-header group">
    <div>
      <h1><span>Quick answer</span> Child Benefit tax calculator</h1>
    </div>
  </header>

  <div class="article-container group">
    <article role="article" class="group">
      <div class="inner">
        <section class="intro">
          <p>Use this tool to work out:</p>
          <ul>
            <li>how much Child Benefit you receive in a tax year</li>
            <li>the High Income Child Benefit tax charge you or your partner may have to pay</li>
          </ul>

          <p class="get-started">
            <a rel="nofollow" href="/child-benefit-tax-calculator/main" class="big button">Start now</a>
          </p>
        </section>
        <h2 id="before-you-start">Before you start</h2>
        <p>You may be affected by the tax charge if your income is over £50,000.</p>
        <p>Your partner is responsible for paying the tax charge if their income is more than £50,000 and higher than yours.</p>
        <p>You’ll need the dates Child Benefit started and, if applicable, <a href="<%= internal_url "/child-benefit/eligibility" %>">Child Benefit stopped</a>.</p>
      </div>
    </article>

    <div id="report-a-problem"></div>
    <div class="meta-data group">
      <div class="inner">
        <p class="modified-date">Last updated: <%= last_updated_date.strftime("%e %B %Y") %></p>
      </div>
    </div>
  </div>
</main>

<div id="related-items"></div>
