<% content_for :title, "Estimate your High Income Child Benefit Tax Charge" %>
<% content_for :wrapper_classes, "answer" %>

<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup class="full-width">
      <h1><span>Quick answer</span> Estimate your High Income Child Benefit Tax Charge</h1>
    </hgroup>
    <a class="skip-to-related" href="#related">Not what you're looking for? ↓</a>
  </header>
  <div class="category-container full-width group">
    <p>Some intro text here</p>
    <a href="/child-benefit-tax-calculator/main">Start</a>
  </div>
</section>
