<% content_for :title, "Estimate your High Income Child Benefit Tax Charge" %>
<% content_for :wrapper_classes, "answer" %>

<section id="content" role="main" class="group calculator-page">

  <header class="page-header group">
    <hgroup class="full-width">
      <h1><span>Quick answer</span> Child Benefit tax calculator</h1>
    <div class="article-container-start group">
  <article role="article" class="group"><div class="inner">
      <div class="intro">
          <p>The person with the highest income in your household may have to pay some or all of their Child Benefit back as tax. This affects adjusted net incomes over £50,000.</p>

          <p class="get-started">
            <a rel="nofollow" href="/child-benefit-tax-calculator/main?year=2012" class="big button">Tax Year 2012-2013</a>
            <a rel="nofollow" href="/child-benefit-tax-calculator/main?year=2013" class="big button">Tax Year 2013-2014</a>
          </p>
      </div>
      <h2 id="what-you-need">What you need</h2>

<p>You need:</p>

<ul>
<li>adjusted net income</li>
  <li>date of birth - for paternity</li>
  <li>number of children you're claiming for</li>
  <li>the dates for adoption - eg match date or date of placement</li>
</ul>
<p>You can’t use the calculator for:</p>

<ul>
<li>births 15 weeks before the due date</li>
  <li><a href="/additional-paternity-leave-pay-employees">Additional paternity Leave or Pay</a></li>
  <li>paternity leave or pay for <a href="/paternity-leave-pay-employees">overseas adoptions</a>
</li>
</ul>
</div>
  </article><!-- report_a_problem -->
<p class="report-a-problem-toggle"><a href="">Is there anything wrong with this page?</a></p>
<div class="report-a-problem-container">
  <p>Help us improve GOV.UK by telling us:</p>
  <form accept-charset="UTF-8" action="/feedback" method="post">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <input id="url" name="url" type="hidden" value="https://www.gov.uk/maternity-paternity-calculator"><label for="what_doing">
      What you were doing
      <input id="what_doing" name="what_doing" type="text"></label>
    <label for="what_wrong">
      What went wrong
      <input id="what_wrong" name="what_wrong" type="text"></label>

    <div><button name="commit" type="submit" class="button">Send</button></div>

    <!--<p>If you have more extensive feedback, please visit the <a href="/feedback">support page</a>.</p>-->
  <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.gov.uk/search?q=maternity+calculator"></form>
</div>
<!-- end report_a_problem -->
<div class="meta-data group">
  <div class="inner">
    <div class="print-and-modified-date group">
      <p class="modified-date">Last updated: 10 June 2013</p>
    </div>
  </div>
</div>

</div>
