<% content_for :title, "Estimate your High Income Child Benefit Tax Charge" %>
<% content_for :wrapper_classes, "answer" %>

<section id="content" role="main" class="group calculator-page">

  <header class="page-header group">
    <hgroup class="full-width">
      <h1><span>Calculator</span> Estimate your High Income Child Benefit Tax Charge</h1>
    </hgroup>
    <a class="skip-to-related" href="#related">Not what you're looking for? ↓</a>
  </header>
  <section id="calculator">
    <div class="category-container full-width group">
      <p>The person with the highest income in your household may have to pay some or all of their Child Benefit back as tax if their adjusted net income is over £50,000.</p>

      This affects Child Benefit for weeks after 7 January 2013.

      <ul>
        <li><a href="/child-benefit-tax-calculator/main?year=2012">Click if you pay tax on Child Benefit for the tax year 2012 to 2013</a></li>
        <li><a href="/child-benefit-tax-calculator/main?year=2013">Click if you pay tax on Child Benefit for the tax year 2013 to 2014</a></li>
      </ul>
    </div>
  </section>
</section>
