<div class="grid-row">
  <%= render template: 'child_benefit_tax/main.html.erb' %>

  <div class="related-container">
    <%= render partial: 'govuk_component/taxonomy_sidebar', locals: @navigation_helpers.taxonomy_sidebar %>
  </div>
</div>
