.calculator-page header.page-header hgroup h1 {
  font-family: "nta",Arial,sans-serif;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;

  .inner {
    padding-right: 2em;
    & > *:first-child{
      margin-top: 30px;
    }
  }
}

/* ================================================================
 * FORMS
 * ================================================================
 */

article {
  @extend %contain-floats;
  .questions {
    width: 90%;
  }
    h4 {
      font-weight: bold;
    }
  }
  .questions, .results {
    float: left;
    @include media-down(tablet) {
      width: 100%;
      float: none;
    }
  }

.button {
  @include core-19;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

label {
  display: block;
}

fieldset .button {
  @include core-16;
  margin-top: 5em;
}

.button-inline {
  margin-right: 10px;
}

#new-child-template, #stopped-child-template {
  display: none;
}
.form .group label.inline-radio {
  display: inline-block;
  float: none;
  margin: 0 1em 0 0;
}

.form .group label.inline-radio input {
  margin: 0 0.25em 0 0;
}

.results-box {
  border: 5px solid black;
  padding: 15px 25px;
  margin-bottom: 40px;
  .amount strong {
    font-size: 48px;
  }
}

#calculator {
  fieldset {
    margin-bottom: 3em;
  }

  input[type="text"] {
    display:block;
    margin: 0.5em 0;
  }

  .steps {
    margin: 0;
    float: left;
    width: 23px;
    height: 23px;
    margin-right: 0.75em;
  }


  #step-1 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-1-6afb52055d0f49ccc1ffa7c33ef10fb2.png);
  }

  #step-2 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-2-959e7eecd3702fe3bc7a61a57a40289b.png);
  }

  #step-3 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-3-c95226d199222c14832170be0941a27a.png);
  }

  #step-4 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-4-60af308c82427fdd1d7d6d25276081b9.png);
  }

  .intro {
    padding: 0;
    margin-bottom: 3em;
  }

  .link{
  @include core-19;
  background: none;
  padding-top: 0.5em;
  color: #2e3191;
  text-decoration: underline;
  @include box-shadow(none);
  border: none;
  overflow: visible; 
  &:hover, &:focus{
    color: #2e8aca;
    }
  }
}

#add_new_starting_child,
#add_new_stopping_child {
  label {
    display: block;
  }
}

.results h1{
  font-size: 2.7rem;
}

.results-text h4{
  font-size: 2.4rem;
}

details p {
  padding-top: -2em;
  font-size: 1.6rem;
}

details summary {
font-family: "nta", "GDS-Regular", sans-serif;
font-size: 1.6rem;
line-height: 1.31579;
font-weight: 400;
letter-spacing: 0;
text-transform: none;
color: #2E3191;
cursor: pointer;
display: block;
}

details summary:hover {
color: #1D97FF;
}

.validation-error,
article .application-notice {
  zoom: 1;
}

article .application-notice{
margin: 1em -1em 1em -1em;
}

select {
margin: 0.2em 0.5em 0.4em 0;
vertical-align: baseline;
}

#calculator h5 {
  font-weight: bold;
  font-size: 1.9rem;
}

article  h2 {
  margin: 0 0 0.8em 0;
  padding: 0;
}

#calculator p.group {
  margin-top: 0.5em;
  padding: 0;
}

#calculator p.number-input {
  margin-top: 1.5em;
}

.child-info {
border: 1px solid #dee0e2;
background: #dee0e2;
padding: 9px;
margin-bottom: 15px;
}

.validation-error {
font-family: "nta",Arial,sans-serif;
font-size: 16px;
font-size: 1.6rem;
line-height: 1.25;
font-weight: 300;
text-transform: none;
color: #df3034;
border: 3px solid #df3034;
box-sizing: border-box;
padding: 1em 1em 0.25em 1em;
margin: 1em -1em 1em -1em;
background-color: #fef7f7;
}

.get-started a {
  margin-right: 0.5em;
}

article p + .help-notice, article p + .info-notice {
margin-top: 1em;
}

.skip-question {
color: #6f777b;
margin-top: 0;
padding-top: -2em;
}