.calculator-page header.page-header div h1 {
  font-family: "nta",Arial,sans-serif;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;

  .inner {
    padding-right: 2em;
    & > *:first-child{
      margin-top: 30px;
    }
  }
}

/* ================================================================
 * FORMS
 * ================================================================
 */

article {
  @extend %contain-floats;
  .questions {
    width: 80%;
  }
    h4 {
      font-weight: bold;
    }
  }
  .questions, .results {
    float: left;
    @include media-down(tablet) {
      width: 100%;
      float: none;
    }
  }

.button {
  @include core-19;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.update-button {
  .js-enabled & {
    display: none;
  }
} 

label {
  @include core-19;
  display: block;
}

#results .button {
  @include core-16;
  margin-top: 5em;
}

.button-inline {
  margin-right: 10px;
}

#new-child-template, #stopped-child-template {
  display: none;
}

#calculator {
  fieldset {
    margin-bottom: 3em;
    &#adjusted_income {
      margin-bottom: 1em;
    }
  }

  input[type="text"] {
    display:block;
    margin: 0.2em 0 1em 0;
  }

  .steps {
    margin: 0;
    float: left;
    width: 23px;
    height: 23px;
    margin-right: 0.75em;
  }


  #step-1 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-1-6afb52055d0f49ccc1ffa7c33ef10fb2.png);
  }

  #step-2 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-2-959e7eecd3702fe3bc7a61a57a40289b.png);
  }

  #step-3 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-3-c95226d199222c14832170be0941a27a.png);
  }

  #step-4 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-4-60af308c82427fdd1d7d6d25276081b9.png);
  }

  .intro {
    padding: 0;
    margin-bottom: 3em;
  }

  .link{
  @include core-19;
  background: none;
  padding-top: 0.5em;
  color: #2e3191;
  text-decoration: underline;
  @include box-shadow(none);
  border: none;
  overflow: visible; 
  &:hover, &:focus{
    color: #2e8aca;
    }
  }
}

#add_new_starting_child,
  #add_new_stopping_child {
    label {
      display: block;
  }
}

.results {
width: 80%;
}

.results h1 {
  @include core-48;
  font-weight: 600;
}

.results h2 {
  margin-top: 1em;
}

.numbers {
  @include core-80;
  font-weight: 600;
  margin: 0;
}

.results h4 {
  @include core-24;
  font-weight: 600;
  margin-top: 1em;
}

.results_estimate {
  padding-bottom: 1em;
}

details {
  margin-bottom: 3em;  
}

details summary {
  @include core-19;
  font-family: "nta", "GDS-Regular", sans-serif;
  line-height: 1.31579;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  color: #2E3191;
  cursor: pointer;
  display: block;
  text-decoration: underline;
}

details summary:hover {
  color: #1D97FF;
}

.validation-error,
  article .application-notice {
    zoom: 1;
}

article .application-notice{
  margin: 1em -1em 1em -1em;
}

select {
  @include core-14;
  margin: 0.2em 0.5em 0.4em 0;
  vertical-align: baseline;
  border: 1px solid;
}

#calculator h5 {
  font-weight: bold;
  font-size: 1.9rem;
}

article  h2 {
  margin: 2em 0 0.8em 0;
  padding: 0;
}

#calculator p.group {
  margin-top: 0.5em;
  padding: 0;
}

#calculator p.number-input {
  margin-top: 1.5em;
}

input[type="radio"] {
margin-right: 0.5em;
}

#year_2013 {
margin-left: 1em;
}

.get-started a {
  margin-right: 0.5em;
}

article p + .help-notice, article p + .info-notice {
  margin-top: 1em;
}

.skip-question {
  color: #6f777b;
  margin-top: -0.5em;
}

.before-you-start h2 {
  margin-top: 10em;
}

#children h5 {
  clear: left;
}

.date_selection {
  float: left;
  padding-bottom: 1.5em;
  margin-right: 2em;
  .label {
    @include core-19;
    margin: 0;
    padding-top: 0.2em;
  }
}

.tax_year label {
  @include core-16;
  display: inline;
}
