.calculator-page header.page-header hgroup h1 {
  font-family: "nta",Arial,sans-serif;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;

  .inner {
    padding-right: 2em;
    & > *:first-child{
      margin-top: 30px;
    }
  }
}

/* ================================================================
 * FORMS
 * ================================================================
 */

.form{
  @include form(top);

  input[type='text'], input[type='email'] {
    background: $white;
  }
}

article {
  @extend %contain-floats;
  .questions {
    width: 80%;
  }
    h4 {
      font-weight: bold;
    }
  }
  .questions, .results {
    float: left;
    @include media-down(tablet) {
      width: 100%;
      float: none;
    }
  }

.button {
  @include core-19;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

fieldset .button {
  @include core-16;
}
.button-secondary {
  color: #0b0c0c;
  background-color: $grey-3;
  -webkit-font-smoothing: antialiased;
}

.button-secondary:focus,
.button-secondary:hover {
  color: #0b0c0c;
  background-color: darken($grey-3, 10%);
}

.button-inline {
  margin-right: 10px;
}

.form {
  label {
    display: block;
    @include core-19;
    text-transform: none;
    vertical-align: top;
    padding: 0.25em 0;
    margin-top: 5em;
  }
}

#new-child-template, #stopped-child-template {
  display: none;
}
.form .group label.inline-radio {
  display: inline-block;
  float: none;
  margin: 0 1em 0 0;
}

.form .group label.inline-radio input {
  margin: 0 0.25em 0 0;
}

.results-box {
  border: 5px solid black;
  padding: 15px 25px;
  margin-bottom: 40px;
  .amount strong {
    font-size: 48px;
  }
}

#calculator {
  fieldset {
    margin-bottom: 3em;
  }

  input[type="text"] {
    display:block;
    margin: 0.5em 0;
  }

  .steps {
    margin: 0;
    float: left;
    width: 23px;
    height: 23px;
    overflow: hidden;
    text-indent: -5000%;
    margin-right: 0.75em;
  }


  #step-1 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-1-6afb52055d0f49ccc1ffa7c33ef10fb2.png);
  }

  #step-2 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-2-959e7eecd3702fe3bc7a61a57a40289b.png);
  }

  #step-3 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-3-c95226d199222c14832170be0941a27a.png);
  }

  #step-4 {
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-step-4-60af308c82427fdd1d7d6d25276081b9.png);
  }

  .intro {
    padding-top: 0;
    margin-bottom: 3em;
  }

  .link{
  @include core-19;
  background: none;
  padding: 0;
  color: #2e3191;
  text-decoration: underline;
  @include box-shadow(none);
  border: none;  
  &:hover, &:focus{
    color: #2e8aca;
    }
  }
}

#add_new_starting_child,
#add_new_stopping_child {
  label {
    display: block;
  }
}

.results h1{
  font-size: 2.7rem;
}

.results-text h4{
  font-size: 2.4rem;
}
