.calculator-page header.page-header div h1 {
  @include bold-48;

  .inner {
    padding-right: 2em;
    & > *:first-child{
      margin-top: 30px;
    }
  }
}

article {
  @extend %contain-floats;

  h2 {
    margin: 2em 0 0.8em 0;
    padding: 0;
  }

  h4 {
    font-weight: bold;
  }

  p + .help-notice,
  p + .info-notice {
    margin-top: 1em;
  }
}

/* ================================================================
 * FORMS
 * ================================================================
 */

label {
  @include core-19;
  display: block;
}

select {
  @include core-14;
  margin: 0.2em 0.5em 0.4em 0;
  vertical-align: baseline;
  border: 1px solid;
}

.help-panel {
  background: $panel-colour;
}

details.help-panel {
  position: relative;

  @include media(mobile) {
    margin-top:4.8em;
  }

  @include media(desktop) {
    margin-top: 3.4em;
  }

  p,
  fieldset {
    margin-left: 1em;
    margin-right: 1em;
  }

  p {
    padding-top: 1em;
  }

  fieldset {
    padding-bottom: 1em;
  }
  summary {
    position: absolute;

    @include media(mobile) {
      top: -3.4em;
    }

    @include media(desktop) {
      top: -2em;
    }
  }
}

.label {
  @include core-19;
  margin: 0;
  padding-top: 0.2em;
}

.button {
  @include bold-19;
}

.update-button {
  .js-enabled & {
    display: none;
  }
} 

#results .button {
  @include core-16;
  margin-top: 5em;
}

.button-inline {
  margin-right: 10px;
}

.questions {
  width: 100%;
  @include media(tablet) {
    width: 80%;
  }
}

.questions,
.results {
  float: left;
  @include media(tablet) {
    float: none;
  }
}

.validation-error,
article .application-notice {
    zoom: 1;
}

article .application-notice {
  margin: 1em -1em 1em -1em;
}

#calculator {
  h5 {
    font-weight: bold;
    font-size: 1.9rem;
  }

  fieldset {
    margin-bottom: 1em;
    &#adjusted_income {
      margin-bottom: 3em;
    }
  }

  input[type="text"] {
    display:block;
    margin: 0.2em 0 1em 0;
  }

  input[type="radio"] {
    margin-right: 0.5em;
  }

  #year_2013 {
    margin-left: 1em;
  }

  p {
    &.group {
      margin-top: 0.5em;
      padding: 0;
    }

    &.number-input {
      margin-top: 1.5em;
    }
  }

  #children h3 {
    line-height: 1.5;
    clear: left;
    margin: 0;
  }

  .date-selection {
    float: left;
    padding-bottom: 1.5em;
    margin-right: 2em;
  }

  .tax-year label {
    @include core-16;
    display: inline;
  }

  .steps {
    margin: 0;
    float: left;
    width: 23px;
    height: 23px;
    margin-right: 0.75em;
  }

  #step-1 {
    background-image: image-url("icon-step-1.png");
  }

  #step-2 {
    background-image: image-url("icon-step-2.png");
  }

  #step-3 {
    background-image: image-url("icon-step-3.png");
  }

  #step-4 {
    background-image: image-url("icon-step-4.png");
  }

  .intro {
    padding: 0;
    margin-bottom: 3em;
  }

  .link{
    @include core-19;
    background: none;
    padding-top: 0.5em;
    color: #2e3191;
    text-decoration: underline;
    @include box-shadow(none);
    border: none;
    overflow: visible; 

    &:hover,
    &:focus{
      color: #2e8aca;
    }
  }
}

fieldset#adjusted_net_income_calculator {
  margin-bottom: 3em;
  margin-top: 2em;
}

.results {
  width: 80%;

  h1 {
    @include core-48;
    font-weight: 600;
  }

  h2 {
    margin-top: 1em;
  }

  h4 {
    @include core-24;
    font-weight: 600;
    margin-top: 1em;
  }
}

.results_estimate {
  padding-bottom: 1em;

  .numbers {
    @include core-80;
    font-weight: 600;
    margin: 0;
  }
}

.get-started a {
  margin-right: 0.5em;
}
