<h2>Child <span class="child-number"><%= number %></span></h2>
<fieldset>
  <legend><span>When did you start getting Child Benefit for a new child?</span></legend>
  <p class="group">
    <%= select_date (defined?(child) ? DateTime.new(child["year"].to_i, child["month"].to_i, child["day"].to_i) : Date.today), :prefix => "starting_children[]" %>
  </p>
</fieldset>
