<h2>Child <span class="child-number"><%= number + 1 %></span></h2>
<fieldset>
  <legend><span>When will you stop getting Child Benefit for this child?</span></legend>
  <p class="group">
    <%= select_date (child.nil? ? @calculator.child_benefit_end_date : child.end_date), :prefix => "stopping_children[]" %>
  </p>
</fieldset>
