<p class="group">
  <legend><span><%= t_for_year params[:year], "stop_child_benefit_for_a_child?" %></span></legend>
    <%
      if child && child.end_date
        date_picker = child.end_date
      else
        date_picker = nil
      end
    %>
    <%= select_date date_picker, :prefix => "stopping_children[]", :order => [:day, :month, :year], :end_year => @calculator.child_benefit_end_date.year, :start_year => @calculator.child_benefit_start_date.year, :prompt => {:day => "Day", :month => "Month", :year => "Year" } %>

