<%= render "partials/child_benefit_tax/results_box" %>
<div class="results-text">
  <h4>Paying back Child Benefit as tax</h4>
  <p>You’ll need to pay back any tax you already owe through Self Assessment. From now, you can either:</p>
  <ul>
    <li>carry on getting Child Benefit for the year, and pay whatever you owe back as tax</li>
    <li><a href="http://hmrc.gov.uk/childbenefitcharge/stopchbpayments.htm" rel="external">stop getting Child Benefit</a>, and pay whatever you already owe back as tax</li>
  </ul>

  <p>Only the person getting Child Benefit can ask for it to be stopped.</p>

  <% if @calculator.amount_owed > 0 && @calculator.starting_children.any? %>
    <h4>New children</h4>
    <p>From now, you can either:</p>
    <ul>
      <li>carry on getting Child Benefit for the year, and pay whatever you owe back as tax</li>
      <li>register the child for Child Benefit and ask for it not to be paid to you</li>
    </ul>

    %**NOTE: need to find out how to do the latter**%
  <% end %>
  <h4>Self Assessment deadlines</h4>

  <p>You will have to pay back the tax you owe through Self Assessment. You’ll need to <a href="/register-for-self-assessment">register for Self Assessment</a> by 5 October 2014, and complete your tax return in time.</p>

  <p>Come back to the calculator if your circumstances change.</p>
</div>
