<div class="results-text">

  <h4>How and when to pay</h4>

  <p>You will have to pay back <%= number_to_currency @calculator.amount_owed, unit: "£", precision: 2 %> from the tax year 2012 to 2013 through <a href="https://www.gov.uk/self-assessment-tax-returns">Self Assessment</a>. You’ll need to <a href="https://www.gov.uk/register-for-self-assessment">register for Self Assessment</a> by 5 October, and complete your Self Assessment tax return in time.</p>

  <p>
    The deadlines are:
  </p>

  <ul>
    <li>paper - by midnight 31 October 2013</li>
    <li>online - by midnight 31 January 2014</li>
    <li>final payment of any tax due - by midnight 31 January 2014</li>
  </ul>

  <p>You’ll have to <a href="https://www.gov.uk/self-assessment-tax-returns/penalties">pay a penalty</a> if you miss the deadline.</p>


  <h4>What happens next</h4>
  
  <p>For the tax year 2013 to 2014, you’ll need to pay back any tax you owe through Self Assessment. You can either:</p>
  
  <ul>
    <li>carry on getting Child Benefit for the year</li>
    <li><a href="http://hmrc.gov.uk/childbenefitcharge/stopchbpayments.htm" rel="external">stop getting Child Benefit</a></li>
  </ul>  
  
  <% if @calculator.amount_owed > 0 && @calculator.starting_children.any? %>

    <h4>New children</h4>

    <p>From now, you can either:</p>

    <ul>
      <li>carry on getting Child Benefit for the year, and pay whatever you owe back as tax</li>
      <li>register the child for Child Benefit and ask for it not to be paid to you</li>
    </ul>

  <% end %>

</div>
