<p class="group">
  <label>When did you start getting Child Benefit for a new child?</label>
  <%
    if child && child.start_date
      date_picker = child.start_date
    else
      date_picker = nil
    end
  %>
  <%= select_date date_picker, :prefix => "starting_children[#{number}][start]", :order => [:day, :month, :year], :end_year => @calculator.child_benefit_end_date.year, :start_year => @calculator.child_benefit_start_date.year, :include_blank => true %>
</p>

<p class="group">
  <label>When do you expect to stop receiving Child Benefit for that child?</label>
  <%
    if child && child.end_date
      date_picker = child.end_date
    else
      date_picker = nil
    end
  %>
  <%= select_date date_picker, :prefix => "starting_children[#{number}][stop]", :order => [:day, :month, :year], :end_year => @calculator.child_benefit_end_date.year, :start_year => @calculator.child_benefit_end_date.year, :include_blank => true %>
</p>
