<div>
<p class="group">
<label><%= t_for_year params[:year], "start_child_benefit_for_this_child?" %></label>
  <%
    if child && child.start_date
      date_picker = child.start_date
    else
      date_picker = nil
    end
  %>
  <%= select_date date_picker, :prefix => "starting_children[#{number}][start]", :prompt => {:day => "Day", :month => "Month", :year => "Year" }, :order => [:day, :month, :year], :end_year => @calculator.child_benefit_end_date.year, :start_year => @calculator.child_benefit_start_date.year %>
</p>

<p class="group">
<label><%= t_for_year params[:year], "stop_child_benefit_for_this_child?" %></label>
  <%
    if child && child.end_date
      date_picker = child.end_date
    else
      date_picker = nil
    end
  %>
  <%= select_date date_picker, :prefix => "starting_children[#{number}][stop]", :prompt => {:day => "Day", :month => "Month", :year => "Year" }, :order => [:day, :month, :year], :end_year => @calculator.child_benefit_end_date.year, :start_year => @calculator.child_benefit_end_date.year %>
</p>
</div>
