 <div class="application-notice info-notice">
     <p>This could be if you'll no longer be responsible for the child, they're turning 16 or they're over 16 and leaving education.</p>
  </div>
<% @calculator.stopping_children.each_with_index do |child, index| %>
  <h5>Stopping child <%= index + 1 %></h5>
  <%= render "partials/child_benefit_tax/add_new_stopping_child", :child => child, :number => index %>
<% end %>

<% if @calculator.stopping_children.empty? || show_old_child_form? %>
	<% unless @calculator.stopping_children.size == 0 %>
		<h5>Stopping child <%= @calculator.stopping_children.size + 1 %></h5>
	<% end %>

  <%= render "partials/child_benefit_tax/add_new_stopping_child", :child => nil, :number => @calculator.stopping_children.size %>
<% end %>

<p><input type="submit" class="link" name="add_another_stopping_child_submit" value="Add another child" /></p>

  
