.error-summary-item {
  @include govuk-font(19, $weight: bold);
  color: $govuk-error-colour;

  &:focus {
    color: $govuk-focus-text-colour;
  }
}

.question-wrapper {
  position: relative;
  padding-bottom: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(7);
    padding-bottom: govuk-spacing(7);
  }
}

.date-wrapper {
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-bottom: 0;
  }
}

.step {
  position: relative;
  display: inline-block;
  padding-left: govuk-spacing(7);

  &:before {
    @include govuk-font(16);
    position: absolute;
    left: 0;
    margin-top: -1px;
    height: 18px;
    width: 18px;
    padding: 4px;
    border-radius: 50%;
    background-color: govuk-colour("black");
    color: govuk-colour("white");
    font-weight: bold;
    text-align: center;
  }

  @include govuk-media-query($from: tablet) {
    position: static;
    padding: 0;
  }
}

@for $i from 1 through 14 {
  .step-#{$i}:before {
    content: "#{$i}";
  }
}
