$validation-border: $mellow-red;


article {
  form {
    .validation-summary,
    .validation-error {
      @include media(tablet) {
        margin: 0 -1em 1em 0.5em;
      }
    }


    .validation-summary {
      border: 3px solid #df3034;
      padding: 1em 1em 0.8em 1em;

      h2 {
       margin: 0 0 0.5em 0;
      }
      
      ul {

        margin:0 0 0 0.8em;
        padding:0;

        li {

          margin:0;
          padding:0;

          @include core-19;
          a {
            color: $black;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .validation-error {
      @include core-16;
      text-transform: none;
      border-left: 10px solid $validation-border;
      padding: 0.25em 1em 1em 1em;
      margin: 0;
      overflow: hidden;

      .date_selection {
      	padding-bottom: 0;
      }

      p {
        font-weight: 600;
      }

      .date-selection p {
        font-weight: 400;
      }
    }
  }
}
