// from the toolkit gem
@import "_colours";
@import "_typography";
@import "_conditionals";
@import "_shims";
@import "_css3";

@import "_forms";
@import "_conditionals2";

@import "calculators/child_benefit";

.calculator-page {
  background: #fff;
}

.article-container-start {
background-color: #fff;
min-height: 35em;
}


.article h1 {
font-size: 2.7rem;
}


