// from the toolkit gem
@import "_colours";
@import "_typography";
@import "_conditionals";
@import "_shims";
@import "_css3";

@import "_forms";
@import "_conditionals2";

@import "calculators/child_benefit";

.calculator-page {
  background: #fff;
}

.article-container-start {
background-color: #fff;
min-height: 35em;
}


.article h1 {
font-size: 2.7rem;
}


.validation-error {
  font-family: "nta",Arial,sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  color: #df3034;
  border: 3px solid #df3034;
  box-sizing: border-box;
  padding: 0 1em 1em 1em;
  margin: 1em -1em 1em 0.5em;
  background-color: #fef7f7;
}

.validation-summary {
  border: 3px solid #df3034;
  background-color: #fef7f7;
  margin: 0 -1em 1.5em -1em;
  padding: 0 1em 0.25em 1em;
  h1 {
    margin-bottom: 0;
    margin-top: 1em;
  }
  ul {
    padding-left: 2.2em;
    li {
    list-style: none;
    @include core-19;
      a {
        color: #df3034;
        text-decoration: none;
      }
    }
  }
}
